body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.avatar-container {
    display:flex;
    align-items: center;
    align-content: center;
}
.avatar-container:hover {
    z-index: 1000;
}

.avatar {
    border: 3px solid #2b3e50;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-size: 50px 50px;
    background-position: center;
    box-shadow: 3px 3px 3px #333;
    transition: all .3s;
}
.avatar:not(:first-child) {
    margin-left: -12px;
}

.avatar.avatar-s {
    width: 32px;
    height: 32px;
    background-size: 36px 36px;
    border-width: 2px;
}

.avatar.avatar-xs {
    width: 24px;
    height: 24px;
    background-size: 27px 27px;
    border-width: 1px;
}

.avatar:hover {
    transform: scale(1.2,1.2);
    border-color: #df691a;
    box-shadow: 6px 6px 3px #333;
}

.modal {
    background-color: rgba(0,0,0,.6);
}

.modal-content {
    margin: 5vw;
    background-size: cover;
}

/*utilities*/
.material-icons {
    vertical-align: middle;
    margin-right: 6px;
}

.mt-1 {
    margin-top: 1em;
}

.p1 {
    padding: 1em;
}